In [33]:
import pandas as pd
df = pd.read_csv('./../assets/datasets/titanic.csv')
print df.head()
print df.columns.values

   pclass  survived                                             name     sex  \
0       1         1                    Allen, Miss. Elisabeth Walton  female
1       1         1                   Allison, Master. Hudson Trevor    male
2       1         0                     Allison, Miss. Helen Loraine  female
3       1         0             Allison, Mr. Hudson Joshua Creighton    male
4       1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female

       age  sibsp  parch  ticket      fare    cabin embarked boat  body  \
0  29.0000      0      0   24160  211.3375       B5        S    2   NaN
1   0.9167      1      2  113781  151.5500  C22 C26        S   11   NaN
2   2.0000      1      2  113781  151.5500  C22 C26        S  NaN   NaN
3  30.0000      1      2  113781  151.5500  C22 C26        S  NaN   135
4  25.0000      1      2  113781  151.5500  C22 C26        S  NaN   NaN

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON
['pclass' 'survived' 'name' 'sex' 'age' 'sibsp' 'parch' 'ticket' 'fare'
 'cabin' 'embarked' 'boat' 'body' 'home.dest']

In [47]:
for row in df.iterrows():
    print str(row[1]['sex']) + ":" + str(row[1]['survived']) + ":" + row[1]['name']
    
print df.columns.values
np_df = df.as_matrix()
#for row in np_df:
#    print row[2]

male = [[row[3], row[1]] for row in np_df if row[3] == 'male' and not row[1]]
female = [[row[3], row[1]] for row in np_df if row[3] == 'female' and not row[1]]
print len(male)
print len(female)

['pclass' 'survived' 'name' 'sex' 'age' 'sibsp' 'parch' 'ticket' 'fare'
 'cabin' 'embarked' 'boat' 'body' 'home.dest']
682
127

In [54]:
males = float(len(male))
num_male = float(len([row[3] for row in np_df if row[3] == 'male']))

percent_m_died = males / num_male
print percent_m_died
print males
print num_male

0.809015421115
682.0
843.0

In [55]:
females = float(len(female))
num_female = float(len([row[3] for row in np_df if row[3] == 'female']))

percent_m_died = females / num_female
print percent_m_died
print females
print num_female

0.272532188841
127.0
466.0

In [60]:
def isnan(value):
  try:
      import math
      return math.isnan(float(value))
  except:
      return False

died = [row[8] for row in np_df if not row[1] and not isnan(row[8])]
living = [row[8] for row in np_df if row[1] and not isnan(row[8])]
len_died = len(died)
len_living = len(living)

died = sum(died) / len_died
living = sum(living) / len_living

print "Died: " , died
print "Living: " , living

Died:  23.3538305693
Living:  49.3611836